### Labor force participation in times of COVID-19 ###

First, let's import our packages necessary to download the data, work with it, create plots and run our exercises:

In [2]:
# FOR IMPORTING DATA

import requests
import json
import csv
import datetime

# FOR API
from dotenv import load_dotenv
import os
import pandas as pd
from typing import List, Union, Optional

# FOR CHARTS
import matplotlib.pyplot as plt
%matplotlib inline

First, let's set our API Key to be used for BLS, which is saved on a separate .txt file for security purposes

In [3]:
txt_file = open("BLS_API_KEY.txt")
apikey = txt_file.read()

Using the knowledge learned in class, we copy and adapt a function to download data from the BLS API:

In [4]:
def request_for_series(
        series_ids: List[str], 
        startyear: Union[int,str], 
        endyear: Union[int,str],
        apikey:Optional[str]=None,
    ):
    """
    Request data for all ``series_ids`` between ``startyear`` and ``endyear``
    
    Parameters
    ----------
    series_ids: List[str]
        A list of all BLS series IDs for which to request data
    
    startyear, endyear: Union[int,str]
        Starting and ending years for period of data. All intervals between
        these two years (inclusive) will be reported
    
    apikey: Optional[str]
        A registration or API key to enable more extensive use of the
        api and more detailed results
    
    Returns
    -------
    responses: List[requests.Response]
        A list of `Response` objects from the requests library
    
    Notes
    -----
    The BLS API only allows 25 series to be requested in a single call to the API
    This function allows an arbitrary number of series. The function first checks how 
    many series_ids are requested, and then makes two recursive calls to this function:
    
    (1) the first 25 series IDs are fetched and 
    (2) the rest of the series ids. 
    
    If the second request contains more than 25 series, another split is made and a pair of 
    recursive function calls are issued.
    
    Also note that the response objects from ``requests`` are not processed or validated
    in any way -- this is up to the caller of this routine.
    
    Finally, if an apikey is given, then a catalog of series metadata will be requested
    and returned from this function. This is necessary for getting the metadata DataFrame
    from the functions ``make_dfs_from_series``, ``unpack_response``, and 
    ``unpack_all_responses`` functions below.
    """
    n_series = len(series_ids)
    if n_series > 25:  #for more than 25, you work on this
        parts = []
        # make common keyword arguments so we don't have to type twice below
        kw = dict(endyear=endyear, startyear=startyear, apikey=apikey)
        parts.extend(request_for_series(series_ids[:25], **kw))
        parts.extend(request_for_series(series_ids[25:], **kw))
        return parts
    else:
        headers = {'Content-type': 'application/json'}
        params = {
            "seriesid": series_ids, 
            "startyear":startyear, 
            "endyear": endyear,
        }
        if apikey is not None:
            params["catalog"] = True
            params["registrationkey"] = apikey
        
        # convert params dictionary to json string
        data = json.dumps(params)
        p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
        return [p]

This function is used to validate the search through the website (i.e. to see if it works):

In [5]:
def check_response(res: requests.Response):
    """
    Check a response from the BLS API for success
    
    Parameters
    ----------
    res: requests.Response
        The requests object returned from iteracting with BLS API
        
    Notes
    -----
    Right now we just check for success at the http protocol level
    and don't do any checking specific to the BLS api
    """
    code = res.status_code
    if code > 299:
        raise ValueError(f"Response error with code {code}")

This function is to transfer the data into dataframes:

In [6]:
def make_dfs_from_series(series_results):
    """
    Unpack a series response object into data and metadata pandas objects
    
    Parameters
    ----------
    series_results: dict
        A dictionary returned from the `timeseries/data` endpoint of the
        BLS api. An example object for this parameter would be found at
        ``res.json()["Results"]["series"][0]`` where ``res`` is the 
        ``requests.Response`` obtained from interacting with the API endpoint.
    
    Returns
    -------
    data: pd.DataFrame
        A pandas DataFrame containing the actual observations of the data series
    
    metadata: Optional[pd.Series]
        If the ``"catgalog"`` key exists in ``series_results``, then ``metadata``
        is a pandas Series containing the catalog information. If ``"catalog"``
        is found, then this is None    
    """
    #extract series ID and store as a variable
    series_id = series_results["seriesID"]
    
    #next, we create a panda dataframe, reading a list of dict
    #we attach ID as an additional column
    data = pd.DataFrame(series_results["data"]).assign(series_id=series_id)
    
    #if catalog was attached, we create a series
    #if not, we don't
    if "catalog" in series_results:
        metadata = pd.Series(series_results["catalog"])
    else:
        metadata = None
    
    return data, metadata

These two functions will unpack the data:

In [7]:
def unpack_response(res: requests.Response):
    """
    Unpack the response for requesting one or more timeseries 
    from the BLS api
    
    Parameters
    ----------
    res: requests.Response
        The object returned from interacting with the ``timeseries/data``
        BLS API endpoint via the reuqests library
    
    Returns
    -------
    datasets: List[Tuple[pd.DataFrame, pd.Series]]
        For each BLS series contained in ``res``, a tuple with the 
        timeseries observations and series metadata will be returned.
        The observations are a pandas DataFrame and the metadata is a
        pandas Series. These pairs of (data, metadata) are returned
        in a list
    
    See Also
    --------
    See ``make_dfs_from_series`` for more information on content
    of output.
    """
    #compute the json form of our response
    js = res.json()
    #now we map the results and series as above when we created data and meta
    
    return list(map(make_dfs_from_series, js["Results"]["series"]))


def unpack_all_responses(all_res: List[requests.Response]):
    """
    Given a list of responses from the BLS API, extract and 
    return all data and metadata
    
    Parameters
    ----------
    all_res: List[requests.Response])
        Each item in this list is the result of using ``requests`` to 
        fetch data from ``timeseries/data`` endpoint of the BLS API.
        
    Returns
    -------
    data: pd.DataFrame
        A pandas DataFrame containing all timeseries observations included
        in any of the responses in ``all_res``
    
    metadata: pd.DataFrame
        Detailed metadata about each series, if such metadata exists in the
        response objects
    
    See Also
    --------
    See ``unpack_response`` and ``make_dfs_from_series`` functions
        
    """
    #make unpacked an empty list
    unpacked = []
    
    #then use a for function to unpack all of them (list)
    for res in all_res:
        unpacked.extend(unpack_response(res))
    
    data_dfs, metadata_series = list(zip(*unpacked))
    
    #stack all data one on the top of the other
    data = pd.concat(data_dfs, ignore_index=True)
    
    #add the metadata and stack them as columns
    metadata = pd.concat([x for x in metadata_series if x is not None], axis=1).T
    
    return data, metadata

Now, let's find all the series of interest.

If it ends with:

3. Seasonally adjustment unemployment rate. 
4. Seasonally adjusted unemployment level
5. Seasonally adjusted employment level
6. Seasonally adjusted labor force level
7. Seasonally adjusted employment-population ratio
8. Seasonally adjusted labor force participation ratio

We will use only 3 and 8 in our analysis. The first two numbers refer to the state from which the data is extracted.

Source: https://www.bls.gov/lau/

In [8]:
series_ids = [
    "LASST010000000000003", 
    "LASST010000000000008", 
    "LASST020000000000003", 
    "LASST020000000000008", 
    "LASST030000000000003",
    "LASST030000000000008", 
    "LASST040000000000003",
    "LASST040000000000008", 
    "LASST050000000000003", 
    "LASST050000000000008", 
    "LASST060000000000003", 
    "LASST060000000000008", 
    "LASST070000000000003", 
    "LASST070000000000008", 
    "LASST080000000000003", 
    "LASST080000000000008", 
    "LASST090000000000003",
    "LASST090000000000008", 
    "LASST100000000000003",
    "LASST100000000000008", 
    "LASST110000000000003", 
    "LASST110000000000008", 
    "LASST120000000000003", 
    "LASST120000000000008", 
    "LASST130000000000003", 
    "LASST130000000000008", 
    "LASST140000000000003", 
    "LASST140000000000008", 
    "LASST150000000000003", 
    "LASST150000000000008", 
    "LASST160000000000003", 
    "LASST160000000000008", 
    "LASST170000000000003", 
    "LASST170000000000008", 
    "LASST180000000000003", 
    "LASST180000000000008", 
    "LASST190000000000003", 
    "LASST190000000000008",
    "LASST200000000000003", 
    "LASST200000000000008", 
    "LASST210000000000003", 
    "LASST210000000000008", 
    "LASST220000000000003", 
    "LASST220000000000008", 
    "LASST230000000000003", 
    "LASST230000000000008", 
    "LASST240000000000003", 
    "LASST240000000000008", 
    "LASST250000000000003", 
    "LASST250000000000008", 
    "LASST260000000000003", 
    "LASST260000000000008", 
    "LASST270000000000003", 
    "LASST270000000000008", 
    "LASST280000000000003", 
    "LASST280000000000008", 
    "LASST290000000000003", 
    "LASST290000000000008", 
    "LASST300000000000003", 
    "LASST300000000000008", 
    "LASST310000000000003",
    "LASST310000000000008", 
    "LASST320000000000003", 
    "LASST320000000000008", 
    "LASST330000000000003", 
    "LASST330000000000008",
    "LASST340000000000003", 
    "LASST340000000000008", 
    "LASST350000000000003",
    "LASST350000000000008",  
    "LASST360000000000003", 
    "LASST360000000000008", 
    "LASST370000000000003", 
    "LASST380000000000008", 
    "LASST370000000000003", 
    "LASST380000000000008", 
    "LASST370000000000003", 
    "LASST380000000000008", 
    "LASST390000000000003", 
    "LASST390000000000008",    
    "LASST400000000000003", 
    "LASST400000000000008", 
    "LASST410000000000003", 
    "LASST410000000000008", 
    "LASST420000000000003", 
    "LASST420000000000008", 
    "LASST430000000000003", 
    "LASST430000000000008", 
    "LASST440000000000003", 
    "LASST440000000000008", 
    "LASST450000000000003", 
    "LASST450000000000008", 
    "LASST460000000000003", 
    "LASST460000000000008", 
    "LASST470000000000003", 
    "LASST470000000000008", 
    "LASST480000000000003", 
    "LASST480000000000008", 
    "LASST490000000000003", 
    "LASST490000000000008", 
    "LASST500000000000003", 
    "LASST500000000000008",
    "LASST510000000000003", 
    "LASST510000000000008",
    "LASST520000000000003",
    "LASST520000000000008",
    "LASST530000000000003", 
    "LASST530000000000008", 
    "LASST540000000000003", 
    "LASST540000000000008",     
    "LASST550000000000003", 
    "LASST550000000000008", 
    "LASST560000000000003", 
    "LASST560000000000008",
]

# make requests, get responses
responses1 = request_for_series(series_ids, "1976", "1995", apikey=apikey)

# validate the responses
[check_response(r) for r in responses1]

# extract data and metadata from responses
df1, metadata1 = unpack_all_responses(responses1)

In [9]:
# pull data for date range: 1996 - 2015
responses2 = request_for_series(series_ids, "1996", "2015", apikey=apikey)
df2, metadata2 = unpack_all_responses(responses2)

In [10]:
# pull data for date range: 2016 - 2021
responses3 = request_for_series(series_ids, "2016", "2021", apikey=apikey)
df3, metadata3 = unpack_all_responses(responses3)

In [11]:
df1

       year period periodName value footnotes             series_id
0      1995    M12   December   5.5      [{}]  LASST010000000000003
1      1995    M11   November   5.6      [{}]  LASST010000000000003
2      1995    M10    October   5.7      [{}]  LASST010000000000003
3      1995    M09  September   5.8      [{}]  LASST010000000000003
4      1995    M08     August   5.9      [{}]  LASST010000000000003
...     ...    ...        ...   ...       ...                   ...
24475  1976    M05        May  65.2      [{}]  LASST560000000000008
24476  1976    M04      April  64.9      [{}]  LASST560000000000008
24477  1976    M03      March  64.7      [{}]  LASST560000000000008
24478  1976    M02   February  64.9      [{}]  LASST560000000000008
24479  1976    M01    January  65.3      [{}]  LASST560000000000008

[24480 rows x 6 columns]

In [17]:
metadata1

,series_title,series_id,seasonality,survey_name,survey_abbreviation,measure_data_type,area,area_type
0,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide
1,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide
2,Unemployment Rate: Alaska (S),LASST020000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alaska,Statewide
3,Labor Force Participation Rate: Alaska (S),LASST020000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alaska,Statewide
4,Unemployment Rate: Arizona (S),LASST040000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Arizona,Statewide
...,...,...,...,...,...,...,...,...
97,Labor Force Participation Rate: West Virginia (S),LASST540000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,West Virginia,Statewide
98,Unemployment Rate: Wisconsin (S),LASST550000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wisconsin,Statewide
99,Labor Force Participation Rate: Wisconsin (S),LASST550000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wisconsin,Statewide
100,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide
101,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide

Since the data was pulled in three batches, we will now combine to one large dataframe for unemployment and labor force participation values 

and one larger dataframe for metadata

In [13]:
# create single dataframe for df1, df2, and df3
df = pd.concat([df1, df2, df3])

df = df.sort_values(by=["year"]) 

df["year"].unique()

array(['1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021'], dtype=object)

In [19]:
# create single dataframe for metadata1, metadata2, metadata3
metadata = pd.concat([metadata1, metadata2, metadata3])

,series_title,series_id,seasonality,survey_name,survey_abbreviation,measure_data_type,area,area_type
0,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide
1,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide
2,Unemployment Rate: Alaska (S),LASST020000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alaska,Statewide
3,Labor Force Participation Rate: Alaska (S),LASST020000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alaska,Statewide
4,Unemployment Rate: Arizona (S),LASST040000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Arizona,Statewide
...,...,...,...,...,...,...,...,...
97,Labor Force Participation Rate: West Virginia (S),LASST540000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,West Virginia,Statewide
98,Unemployment Rate: Wisconsin (S),LASST550000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wisconsin,Statewide
99,Labor Force Participation Rate: Wisconsin (S),LASST550000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wisconsin,Statewide
100,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide
101,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide

NEXT STEPS: 

1. SEPARATE THE DATA IN TWO DATAFRAMES: LABOR PARTICIPATION AND UNEMPLOYMENT RATE BY STATE/TERRITORY (query?) (complete)
2. COLLECT THE DATA ON WHEN THE EXTENDED UNEMPLOYMENT AID WAS IMPLEMENTED AND REMOVED BY STATE
3. MAKE THE ANALYSIS - INCLUDING SEE NEIGHBORING STATES PAST CORRELATION AND CHARACTERISTICS TO SEE IF THEY DEVIATED DURING COVID/AFTER CHECKS STOPPED
4. RUN DIFF-AND-DIFF, OR SIMILAR STUDY

Since the Metadata dataframe is composed of both unemployment rate and labor force participation, we will separate accordingly

In [20]:
# Dataframe including only measure data types for unemployment rate
df_ur = metadata.query("measure_data_type == 'unemployment rate'")

# Dataframe including only measure data types for labor force participation
df_lfp = metadata.query("measure_data_type == 'labor force participation rate'")

df_lfp.head()

,series_title,series_id,seasonality,survey_name,survey_abbreviation,measure_data_type,area,area_type
1,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide
3,Labor Force Participation Rate: Alaska (S),LASST020000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alaska,Statewide
5,Labor Force Participation Rate: Arizona (S),LASST040000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Arizona,Statewide
7,Labor Force Participation Rate: Arkansas (S),LASST050000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Arkansas,Statewide
9,Labor Force Participation Rate: California (S),LASST060000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,California,Statewide

Now that we have the dataframes seperated by unemployment rate and labor force participation, we can map values from the df 

dataframe to the df_ur and df_lfp dataframes using series_ids

In [21]:
# Merge df on df_ur by series id to get each states unemployment rate
df_ur_values = df_ur.merge(df, on="series_id", how="left")
df_ur_values

,series_title,series_id,seasonality,survey_name,survey_abbreviation,measure_data_type,area,area_type,year,period,periodName,value,footnotes,latest
0,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide,1976,M01,January,6.6,[{}],NaN
1,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide,1976,M02,February,6.6,[{}],NaN
2,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide,1976,M04,April,6.5,[{}],NaN
3,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide,1976,M05,May,6.4,[{}],NaN
4,Unemployment Rate: Alabama (S),LASST010000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Alabama,Statewide,1976,M06,June,6.5,[{}],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87445,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide,2021,M06,June,5.4,[{}],NaN
87446,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide,2021,M07,July,5.2,[{}],NaN
87447,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide,2021,M08,August,4.9,[{}],NaN
87448,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide,2021,M09,September,4.5,[{}],NaN
87449,Unemployment Rate: Wyoming (S),LASST560000000000003,Seasonally Adjusted,Local Area Unemployment Statistics,LA,unemployment rate,Wyoming,Statewide,2021,M10,October,4.1,"[{'code': 'P', 'text': 'Preliminary.'}]",true

In [22]:
# Merge df on df_lfp by series id to get each states labor force participation rate
df_lfp_values = df_lfp.merge(df, on="series_id", how="left")
df_lfp_values

,series_title,series_id,seasonality,survey_name,survey_abbreviation,measure_data_type,area,area_type,year,period,periodName,value,footnotes,latest
0,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide,1976,M02,February,56.9,[{}],NaN
1,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide,1976,M03,March,56.8,[{}],NaN
2,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide,1976,M04,April,56.8,[{}],NaN
3,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide,1976,M05,May,56.8,[{}],NaN
4,Labor Force Participation Rate: Alabama (S),LASST010000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Alabama,Statewide,1976,M06,June,56.9,[{}],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87445,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide,2021,M05,May,64.8,[{}],NaN
87446,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide,2021,M06,June,64.8,[{}],NaN
87447,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide,2021,M08,August,64.3,[{}],NaN
87448,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide,2021,M07,July,64.6,[{}],NaN
87449,Labor Force Participation Rate: Wyoming (S),LASST560000000000008,Seasonally Adjusted,Local Area Unemployment Statistics,LA,labor force participation rate,Wyoming,Statewide,2021,M10,October,63.9,"[{'code': 'P', 'text': 'Preliminary.'}]",true